<script>
  Ext.require('Ext.window.Window')
</script>

<h1>Listing staffs</h1>

<%= sortable_table %>
  <thead>
    <tr>
      <%= th :name => 'Staff Id', :type => 'integer' %>
      <%= th :name => 'Person Id', :type => 'integer' %>
      <%= th :name => 'User Id', :type => 'integer' %>
      <%= th :name => 'Person', :type => 'string' %>
      <%= th :name => 'Campus', :type => 'string' %>
      <%= th :name => 'Login', :type => 'string' %>
      <%= th :name => 'Last Login', :type => 'datetime' %>
      <%= th :name => 'Email', :type => 'string' %>
      <%= th :name => 'Gcx', :type => 'boolean' %>
      <%= th :name => 'Active', :type => 'boolean' %>
      <%= th :name => ' ' %>
    </tr>
  </thead>

<% @staffs.each do |staff| %>
  <tr class="staff_<%= staff.id %>">
    <td><%=h staff.id %></td>
    <td><%=h staff.person.id %></td>
    <td><%=h staff.person.try(:user).try(:id) %></td>
    <td><%=h staff.person %></td>
    <td><%=h staff.view_all_campuses ? 'All' : staff.staff_campuses.collect(&:short_desc).join(", ") %></td>
    <td><%=h staff.login %></td>
    <td><%=h staff.last_login %></td>
    <td><%=h staff.email %></td>
    <td><%=h staff.gcx ? "Yes" : "No" %></td>
    <td><%=h staff.is_active == 1 ? "Yes" : "No" %></td>
    <td><%= link_to "Campuses", "javascript:editStaff(#{staff.id})" %> <%= link_to 'Remove', "javascript:removeStaff(#{staff.id});" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New staff', "#newstaff", :id => "show_new_staff" %>

<div id="new_staff_search" style="display:none">
  <br/>
  Search for person to add as staff: <%= text_field_tag "search_text" %>
  <%= image_tag "spinner.gif", :style => "display:none", :id => "search_spinner" %>
  Campus
  <%= select_tag :campus, options_for_select([['Select campus', nil], ''] + Campus.all(:order => Campus._(:name)).collect{ |c| [ c.name, c.id ] }) %>
  <a class="button" href="javascript:location.reload()">Done</a>
</div>

<div id="search_results">
</div>

<script>
  var searches = 0;
  jQuery("#show_new_staff").click(function() { jQuery("#new_staff_search").slideDown(); });
  jQuery('#search_text').keyup(function() {
    jQuery("#search_spinner").show();
    searches++;
    jQuery.get("/staff/search", { text: jQuery("#search_text").val(), campus: jQuery("#campus").val() }, function(data) {
      searches--;
      if (searches == 0) {
        jQuery("#search_spinner").hide();
      }
      jQuery("#search_results").html(data);
      jQuery(".search_result_row a").click(function(evt) {
        $results_row = jQuery(this).parent();
        $results_row.html("Adding...");
        jQuery.post(jQuery(this).attr("href"), function() { $results_row.html("Added"); });
        evt.preventDefault();
        return false;
      });
    });
  });

  function removeStaff(staff_id) {
    if (confirm("You are removing this staff from the PAT. Are you certain you want to do this?")) {
      jQuery.post("/staff/" + staff_id + ".js", { "_method": "DELETE" }, function() {
        jQuery("tr.staff_"+staff_id).fadeOut();
      });
    }
  }

  function editStaff(staff_id) {
    //new Ext.Window({title: "Campuses", modal: true, autoLoad: {url: '/staff/'+staff_id+'.html', scripts: true}, width: 900, height: 600, autoScroll: true}).show();
    new Ext.Window({
      title : "Edit Campuses",
      width : 900,
      height: 600,
      layout : 'fit',
      items : [{
        xtype : "component",
        autoEl : {
          tag : "iframe",
          src : ('/staff/'+staff_id+'?layout=false')
        }
      }]
    }).show();
  }

  jQuery("a.delete_link").click(function(evt) {
    /*
    jQuery.post("/staff.js", { "_method": "DELETE" }, function() {
      jQuery(this).parent("tr").fadeOut();
    });
    */
    evt.preventDefault();
    return false;
  });
</script>
