<p>
  <b>Person:</b>
  <%=h @staff.person %>
</p>

<p>
  <b>Login:</b>
  <%=h @staff.login %>
</p>

<p>
  <b>Last login:</b>
  <%=h @staff.last_login %>
</p>

<p>
  <b>Email:</b>
  <%=h @staff.email %>
</p>

<p>
  <b>Gcx:</b>
  <%=h @staff.gcx %>
</p>

<p>
  <b>Is active:</b>
  <%=h @staff.is_active %>
</p>


<%= link_to 'Back', staff_path %>
