<h1>Listing campuses</h1>

<%= sortable_table %>
  <thead>
    <tr>
      <%= th :name => 'Name', :type => 'string' %>
      <%= th :name => 'Abbrv', :type => 'string' %>
    </tr>
  </thead>

<% @campuses.each do |campus| %>
  <tr>
    <td><%=h campus.name %></td>
    <td><%=h campus.abbrv %></td>
    <td><%= link_to 'Show', campus %></td>
    <td><%= link_to 'Edit', edit_campus_path(campus) %></td>
    <td><%= link_to 'Destroy', campus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New campus', new_campus_path %>
